/* home.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#menu ul li {
    display: inline;
    margin: 0 15px;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#menu ul li a:hover {
    color: #f4c20d; /* Cor do hover */
}

#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

p {
    text-align: center;
    color: #666;
}

/* Estilo do container dos produtos */
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo de cada produto */
.produtos li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.produtos li:hover {
    transform: scale(1.05);
}

.produtos h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px;
}

.produtos p {
    margin: 10px;
    color: #666;
}

/* Imagem do produto */
.produtos img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

/* Preço */
.produtos p:nth-of-type(2) {
    font-size: 1.2em;
    font-weight: bold;
    color: #005a9c;
    margin-top: 0;
}

/* Estilo do botão (opcional) */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #005a9c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0074cc;
}

/* Estilo para o botão de adicionar ao carrinho */
.adicionar-carrinho {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #28a745; /* Verde vibrante */
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.adicionar-carrinho:hover {
    background-color: #218838; /* Verde mais escuro no hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); /* Elevação ao passar o mouse */
}

.adicionar-carrinho:active {
    background-color: #1e7e34; /* Verde ainda mais escuro ao clicar */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0); /* Remove a elevação ao clicar */
}

