<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="/css/home.css" type="text/css" rel="stylesheet">
    
  </head>
  <body>
  
 
    
    
    
    <nav id="menu">
                  <ul>
                      <li><a th:href="@{/home}">Home</a></li>
                      <li><a th:href="@{/Perfil}">Perfil</a></li>
                      <li><a th:href="@{/Configuracoes}">Configurações</a></li>
                      <li><a th:href="@{/produtos}">CadastroProdutos</a></li>
     <!--               <li><a th:href="#" onclick="document.getElementById('logoutForm').submit">Logout</a></li> -->   
                  
                  
                  </ul>
    
    </nav>
    
    <div id="container ">
    
    <h2>Home</h2>
    
    
     <div class="produtos">
        <ul>
            <li th:each="produto : ${produtos}">
                <h2 th:text="${produto.nome}">Nome do Produto</h2>
                <p th:text="${produto.quantidade}">Quantidade</p>
                <p th:text="${produto.preco}">Preço</p> <!--  -->
                <img th:src="@{produto.imagem}" alt="Imagem do Produto">
            </li>
        </ul>
    </div>
    
    <!--
    <form id="LogoutForm" th:action="@{/logout}" method="post" style="display:none">
         
    
    </form>
    
      -->
    <!--  
    <p>Ainda não tem conta? <a th:href="@{/registrar}"> Registre-se aqui</a> </p>-->
    </div>
    
  </body>
</html>