<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Lista de Produtos</title>
    
    <link th:href="@{/css/lista.css}" rel="stylesheet" />
</head>
<body>
    <h1>Lista de Produtos</h1>
    <a href="/produtos/novo">Cadastrar Novo Produto</a>
    <table>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <tr th:each="produto : ${produtos}">
           
        
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidade}"></td>
            <td><img th:src="${produto.imagem}" alt="Imagem do Produto" width="50"></td>
            <td>
            
                 <!-- Campo oculto para o ID -->
    		
                <a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
                <a th:href="@{/produtos/excluir/{id}(id=${produto.id})}">Excluir</a>
            </td>
        </tr>
    </table>
    
  <a href="/home" class="button-voltar">Home</a>
</body>
</html>